{% extends 'teacher/teacher_index.html' %}

{% block body %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Add Activity</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/add_activities_post/{{ id }}">
    {% csrf_token %}
    <table style="width: 300px;height: 50px" class="table table-bordered" border="1">
        <tr>
            <th scope="row">Activity Name</th>
            <td>
                <input type="text" name="activity_name" id="textfield" class="form-control" required />
            </td>
        </tr>

        <tr>
            <th scope="row">Description</th>
            <td>
                <input type="text" name="description" id="textfield3" class="form-control" required />
            </td>
        </tr>

        <tr>
            <th scope="row">Date</th>
            <td>
                <input type="date" name="textfield4" id="textfield4" class="form-control" required />
            </td>
        </tr>

        <tr>
            <th colspan="2" scope="row">
                <div align="center">
                    <input type="submit" name="button" id="button" value="Add Activity" class="btn" />
                </div>
            </th>
        </tr>
    </table>
</form>
</body>
</html>
{% endblock %}
