
{% extends 'teacher/teacher_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

<div class="container mt-5">
    <h2>Add Work for Student</h2>
    <form method="POST">
        {% csrf_token %}
       
        <div class="form-group mt-3">
            <label for="work_description">Work Description:</label>
            <textarea name="work_description" id="work_description" class="form-control" rows="4" required></textarea>
        </div>
        <div class="form-group mt-3">
            <label for="date">Date:</label>
            <input type="date" name="date" id="date" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Add Work</button>
    </form>
</div>

{% endblock %}