{% extends 'teacher/teacher_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/edit_performance_post/{{data.id }}">
<table style="width: 300px;height: 50px"  class="table table-bordered" border="1">    <tr>
    <tr>
      <th scope="row">Performance</th>
      <td>
      <input type="text" name="textfield" id="textfield" value="{{ data.performance1 }}" class="table table-bordered" required /></td>
    </tr>
      <th scope="row">Category</th>
      <td>
      <input type="text" name="textfield4" id="textfield4" value="{{ data.category }}" class="table table-bordered"  required/></td>
    </tr>
    <tr>
      <th scope="row">Date</th>
      <td>
      <input type="date" name="textfield2" id="textfield2" value="{{ data.date }}" class="table table-bordered"  required/></td>
    </tr>
       <tr>
      <th scope="row">Mark</th>
      <td>
      <input type="text" name="textfield3" id="textfield3" value="{{ data.mark }}" class="table table-bordered" required /></td>
    </tr>
    <tr>
        <th colspan="2" scope="row"><div align="center"><input type="submit" name="button" id="button" value="EDIT" class="btn" /></div></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}