{% extends 'staff/staff_index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/send_replyy_post/{{ id }}">
    {% csrf_token %}
  <table style="width: 500px;height: 300px"  class="table table-bordered" border="1">
  <tr>
    <th scope="row">Reply</th>
    <td >
      <input type="text" name="textfield3" id="textfield" class="form-control" required/></td>
  </tr>
  <tr>
      <th colspan="2" scope="row"> <div align="center"><input type="submit" name="reply" id="Send" value="send" class="btn"/></div></th>
    </tr>
</table>

</form>
</body>
</html>
{% endblock %}
