
{% extends 'admin/admin_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
  <form action="/add_teacher_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
    <table style="width: 500px; height: auto;" class="table table-bordered" border="1">
      <tr>
        <th scope="row">First Name</th>
        <td>
          <input type="text" name="first_name" id="first_name" class="form-control" required />
        </td>
      </tr>
      <tr>
        <th scope="row">Last Name</th>
        <td>
          <input type="text" name="last_name" id="last_name" class="form-control" required />
        </td>
      </tr>
      <tr>
        <th scope="row">Designation</th>
        <td>
          <input type="text" name="designation" id="designation" class="form-control" required />
        </td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td>
          <input type="email" name="email" id="email" class="form-control" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" required />
        </td>
      </tr>
      <tr>
        <th scope="row">Phone Number</th>
        <td>
          <input type="text" name="phone" id="phone" class="form-control" pattern="[7-9]{1}[0-9]{9}" required />
        </td>
      </tr>
      <tr>
        <th scope="row">Place</th>
        <td>
          <input type="text" name="place" id="place" class="form-control" required />
        </td>
      </tr>
      <tr>
        <th colspan="2" scope="row">
          <div align="center">
            <input type="submit" name="button" id="button" value="ADD" class="btn btn-danger" />
          </div>
        </th>
      </tr>
    </table>
  </form>
  
</body>
</html>
{% endblock %}