<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>home</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="row"><a href="/view_and_verify_daycare">view_and_verify_daycare</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/verified_daycare">view_verified_daycare</a></th>
  </tr>
{#  <tr>#}
{#    <th scope="row"><a href="/view_teacher_in_daycare">view_teacher_in_daycare</a></th>#}
{#  </tr>#}
  <tr>
    <th scope="row"><a href="/view_student">view_student</a></th>
    <tr>
    <th scope="row"><a href="/view_complaint">view_complaint</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_feedback">view_feedback</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_rating">view_rating</a></th>
  </tr>
     <th scope="row"><a href="/change_password">Change Password</a></th>
  </tr>
</table>
</body>
</html>
