
{% extends 'admin/admin_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/change_password_post">
  <table style="width: 500px;height: 300px"  class="table table-bordered" border="1">
    <tr>
      <th width="156" scope="col">Current password</th>
      <td >
      <input type="text" name="textfield" id="textfield" class="form-control" required/></td>
  </tr>
    <tr>
      <td><b>New password</b></td>
      <td >
      <input type="text" name="textfield2" id="textfield" class="form-control" required/></td>
  </tr>
    
    <tr>
      <td><b>Confirm password</b></td>
      <td >
      <input type="text" name="textfield2" id="textfield" class="form-control" required/></td>
  </tr>
	<tr>
    <center>
        <td height="26" colspan="2"> <div align="center"><input type="submit" name="button" id="Submit" value="Submit" class="btn" /></div></td>
      </center>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}