
{% extends 'admin/admin_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
  <form action="/edit_teacher_post/{{ data.Teacher_id }}" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
    <table width="409" border="1" class="table table-bordered">
      <tr>
        <th scope="row">First Name</th>
        <td>
          <input type="text" name="first_name" id="first_name" class="form-control" value="{{ data.First_name }}" required />
        </td>
      </tr>
      <tr>
        <th scope="row">Last Name</th>
        <td>
          <input type="text" name="last_name" id="last_name" class="form-control" value="{{ data.Last_name }}" required />
        </td>
      </tr>
      <tr>
        <th scope="row">Designation</th>
        <td>
          <input type="text" name="designation" id="designation" class="form-control" value="{{ data.Designation }}" required />
        </td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td>
          <input type="email" name="email" id="email" class="form-control" value="{{ data.Email }}" required />
        </td>
      </tr>
      <tr>
        <th scope="row">Phone Number</th>
        <td>
          <input type="text" name="phone" id="phone" class="form-control" value="{{ data.Phone }}" required />
        </td>
      </tr>
      <tr>
        <th scope="row">Place</th>
        <td>
          <input type="text" name="place" id="place" class="form-control" value="{{ data.Place }}" required />
        </td>
      </tr>
      <tr>
        <th colspan="2" scope="row">
          <div class="text-center">
            <input type="submit" name="button" id="button" value="Edit" class="btn btn-primary" />
          </div>
        </th>
      </tr>
    </table>
  </form>
  
</body>
</html>
{% endblock %}