{% extends 'admin/admin_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
  <form id="form1" name="form1" method="post" action="">
    <table style="width: 700px;" class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Teacher Name</th>
          <th>Designation</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Place</th>
          <!-- <th>Actions</th> -->
        </tr>
      </thead>
      <tbody>
        {% for q in aaa %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ q.First_name }} {{ q.Last_name }}</td>
          <td>{{ q.Designation }}</td>
          <td>{{ q.Email }}</td>
          <td>{{ q.Phone }}</td>
          <td>{{ q.Place }}</td>
          <!-- <td>
            <a href="/edit_teacher/{{ q.id }}">Edit</a><br>
            <a href="/delete_teacher/{{ q.id }}">Delete</a>
          </td> -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
  
</body>
</html>
{% endblock %}