{% extends 'daycare/daycare_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/add_food_menu_post" method="post" enctype="multipart/form-data">
  <table style="width: 500px;height: 300px"  class="table table-bordered" border="1">
  <tr>
    <th scope="row">Day</th>
    <td>
      <label for="select2"></label>
      <select name="select2" id="select2"  class="form-control">
      <option>MONDAY</option>
      <option>TUESDAY</option>
      <option>WEDNESDAY</option>
      <option>THURSDAY</option>
      <option>FRIDAY</option>
      <option>SATURDAY</option>
      </select></td>
  </tr>
  <tr>
    <th scope="row">Food</th>
     <td >
      <input type="text" name="textfield2" id="textfield" class="form-control" required/></td>
  </tr>
  <tr>
    <th scope="row">Info</th>
    <td>
      <select name="select" id="select"  class="form-control">
        <option>Breakfast</option>
        <option>Lunch</option>
        <option>Evening</option>
      </select></td>
  </tr>
  <tr>
  
  <tr>
    <th colspan="2" scope="row"> <div align="center"><input type="submit" name="button" id="button" value="ADD"  class="btn"  /></div></th>
    </tr>
</table>

</form>
</body>
</html>
{% endblock %}