<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get"><table width="402" border="1">
  <tr>
    <th width="450" scope="row"><a href="/manage_profile">Manage profile</a></th>
  </tr>
{#  <tr>#}
{#    <th scope="row"><a href="#">Edit profile</a></th>#}
{#  </tr>#}
  <tr>
    <th scope="row"><a href="/add_facility">Add facility</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_facility">View facility</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/add_food_menu">Add food menu</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_food_menu">View food menu</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/add_fee">Add fee</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_fee">View fee</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/add_teacher">Add teacher</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_teacher">View teacher</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_request_from_parent">View request from parent</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/approved_request">View approved request</a></th>
  </tr>

  <tr>
    <th scope="row"><a href="/view_all_students">View all students</a></th>
  </tr>

  <tr>
    <th scope="row"><a href="/add_meeting">Add meeting</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_meeting">View meeting</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_payment">View payment</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_daycare_rating">Rating</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/daycare_change_password">Change password</a></th>
  </tr>
  
</table>
</form>
</body>
</html>
