{% extends 'daycare/daycare_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/edit_teacher_post/{{ data.id }}" method="post" enctype="multipart/form-data" name="form1" id="form1">
<table width="409" height="315" border="1">
  <tr>
    <th width="95" scope="row">Teacher name</th>
    <td width="203"><label for="textfield"></label>
      <input type="text" name="name" id="textfield"  value="{{ data.teacher_name }}" required/></td>
  </tr>
<tr>
    <th scope="row">Qualification</th>
    <td><label for="textfield7"></label>
      <label for="fileField"></label>
      <a href="{{ data.qualification }}" >qualification</a>
      <input type="file" name="qualification" id="fileField" value="{{ data.qualification }}" required /></td>
  </tr>
  <tr>
    <th scope="row">Experience</th>
    <td><label for="textfield3"></label>
      <input type="text" name="experience" id="textfield3" value="{{ data.experience }}" required /></td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td><label for="textfield4"></label>
      <input type="text" name="email" id="textfield4" value="{{ data.email }}" required/></td>
  </tr>
  <tr>
    <th scope="row">Phone number</th>
    <td><label for="textfield5"></label>
      <input type="text" name="phone_number" id="textfield5"  value="{{ data.phone_number }}" required/></td>
  </tr>
     <tr>
    <th scope="row">Place</th>
    <td><label for="textfield6"></label>
      <input type="text" name="place" id="textfield6" value="{{ data.place }}" required /></td>
  </tr>
  <tr>
    <th scope="row">ID Proof</th>
    <td><label for="textfield7"></label>
      <label for="fileField"></label>
      <a href="{{ data.id_proof }}" >proof</a>
      <input type="file" name="aa" id="fileField" value="{{ data.id_proof }}" required/></td>
  </tr>
  <tr>
    <th scope="row">Image</th>
    <td><label for="textfield8"></label>
      <label for="fileField2"></label>
        <img src="{{ data.photo }}" width="100" height="100"/>
      <input type="file" name="photo" id="fileField2"  value="{{ data.photo }}" required/></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="edit" /></th>
    </tr>
</table>

</form>
</body>
</html>
{% endblock %}