{% extends 'daycare/daycare_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<div class="container mt-5">
    <h2>Send a Complaint</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="complaint" class="form-label">Your Complaint:</label>
            <textarea class="form-control" id="complaint" name="complaint" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit Complaint</button>
    </form>
</div>
{% endblock %}
