
{% extends 'daycare/daycare_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post">
<table width="309" height="60" border="1">
  <tr>
    <th scope="row">#</th>
    <th>Name</th>
    <th>Rating</th>
      <th>date</th>
      <th>phone number</th>
      <th>email</th>
  </tr>
   {% for i in data %}
         <tr>
     <td>{{ forloop.counter }}&nbsp;</td>
     <td>{{ i.PARENT.name }}</td>
    <td>{{ i.rating }}</td>
    <td>{{ i.date }}&nbsp;</td>
               <td>{{ i.PARENT.phone_number }}&nbsp;</td>
   <td>{{ i.PARENT.email }}&nbsp;</td>
           </tr>


    {% endfor %}

           &nbsp;


</table>

</form>
</body>
</html>
{% endblock %}