


{% extends 'daycare/daycare_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<div class="container">
    <h2>Student Profiles</h2>

    {% if students %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <!-- <th>Photo</th> -->
                    <th>Bio</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.student_name }}</td>
                        <td>{{ student.age }}</td>
                        <td>{{ student.gender }}</td>
                        <!-- <td>
                            {% if student.photo %}
                                <img src="{{ student.photo.url }}" alt="Student Photo" width="150">
                            {% else %}
                                No photo available
                            {% endif %}
                        </td> -->
                        <td>{{ student.bio }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No students found for your profile. Please add a student.</p>
    {% endif %}
</div>
</body>
</html>
{% endblock %}