{% extends 'daycare/daycare_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
    
    <div class="container mt-5">
        <h2>Your Enquiries & Replies</h2>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Enquiry</th>
                    <th>Date</th>
                    <th>Reply</th>
                </tr>
            </thead>
            <tbody>
                {% for enquiry in enquiries %}
                <tr>
                    <td>{{ enquiry.enquiry }}</td>
                    <td>{{ enquiry.date }}</td>
                    <td>
                        {% if enquiry.reply %}
                            {{ enquiry.reply }}
                        {% else %}
                            <span class="text-danger">No reply yet</span>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center">No enquiries found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}
