{% extends 'daycare/daycare_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

<table style="width: 150px;height: 50px"  class="table table-bordered" border="1">  <tr>
  <tr>
    <th scope="row">#</th>
    <td>Day</td>
    <td>Food</td>
    <td>Time</td>

    <td>&nbsp;</td>
  </tr>
     {% for i in data %}
     <tr>
     <td>{{ forloop.counter }}&nbsp;</td>
     <td>{{ i.day }}&nbsp;</td>
     <td>{{ i.food }}&nbsp;</td>
     <td>{{ i.info }}&nbsp;</td>

    <td><p><a href="/edit_food_menu/{{ i.id }}">edit</a></p>
      <p><a href="delete_food_menu/{{i.id}}">delete</a></p></td>
  </tr>

 {% endfor %}




</table>


</body>
</html>
{% endblock %}