{% extends 'daycare/daycare_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<table width="671" height="152" border="1">
  <tr>
    <th width="60" scope="row">#</th>
    <td width="67">Parent name</td>
       <td width="67">Student name</td>
    <td width="117">parent email</td>
    <td width="111">Parent phone</td>
    <td width="71">date</td>


  </tr>


    {% for y in data %}
     <tr>
     <td>{{ forloop.counter }}&nbsp;</td>
     <td>{{ y.STUDENT.PARENT.name }}&nbsp;</td>
         <td>{{ y.STUDENT.student_name }}&nbsp;</td>
     <td>{{ y.STUDENT.PARENT.email }}&nbsp;</td>
     <td>{{ y.STUDENT.PARENT.phone_number }}&nbsp;</td>
     <td>{{ y.date }}&nbsp;</td>

     <td>





{#          {% if i.is_assigned %}#}
       <a href="/view_teachers/{{ y.id }}">View teacher</a>  <!-- Replace 'assign_url' with the name of your URL pattern -->
{#    {% else %}#}
{#        <span>Already Assigned</span>#}
{#    {% endif %}#}
     <td></td>


{# <td><a href="/view_teachers/{{ y.id }}">assign</a></td><br>#}


  </tr>
 {% endfor %}
</table>

</form>
</body>
</html>
{% endblock %}